<h1>Career Development</h1>

<br><p><b>Videos, Articles, Blogs, and More</b>
Hear from career experts and DJS faculty regarding strategies and resources that will help you navigate your transitions and manage your career more effectively. View the Video Library or browse the topics under Articles & Blogs.
<br><br>
<b>Networking</b>
Statistics show that more than 80% of jobs are found through networking. The DJS Alumni Directory provides online access to  alumni, searchable by interests, location, industry, function, position, company name, class year, section and undergraduate institution. Visit the DJS Social Media page to join the DJS LinkedIn community, connect on Facebook, follow DJS on Twitter, share photos on Flickr, and more!
<br><br>
<b>Individual Career Coaching</b>
Professional career counselors are available to assist you with career decision-making and positioning, job-search strategy, and advice on evaluating offers and negotiating compensation. Counseling appointments are 45 minutes and may be held either in person or by telephone. Begin the process here.
<br><br>
<b>Alumni Job Bank</b>
Jobs are posted each month from employers and executive search firms, exclusively for HBS alumni. Use the Alumni Job Bank to search jobs by industry, functional area, geographic location, salary range, keyword, type of position and post date. Search for a position.

If you are hiring for your organization, click here to post a position. We accept positions on behalf of corporations and executive search firms, HBS alumni and non-alumni. Contact our career services team for more information about how to recruit at DJS.
<br><br>
Research Support
 Assistance with targeted lists of potential employers, industry overviews and trends, articles on trends in a specific area, competitor lists or corporate profiles is now easier than ever. 

</p>
