<h1>Giving To DJS</h1>


<p>How do you want to make a difference? Do you want to make DJS accessible to students through financial aid? Fund research on the business of healthcare, serving the world's poor, and competing in the global economy? Support case method teaching and new technology for learning?
<br><br>
Gifts do all this and more. They provide one-fifth of the School's operating budget and fund every area of activity at DJS, from faculty salaries and doctoral fellowships to technology and case writing. In short, gifts to DJS support teaching and research that shapes the practice of business around the world.
<br><br>
Learn how your gifts make a difference at DJS.