<h1></h1>
<p>
  This is the home page for the
  <a href="http://djscoe.org/">D.J Sanghvi College OF Engineering</a>
  alumni application.
</p>
<%= link_to "Sign up now!",signup_path, :class => "signup_button round" %>