<h1>Reunions</h1>

<p>Planning is underway for this year's reunions! Check for your class below to learn about the programs and activities on tap for your return to campus.</p>
 
 
	

 
 
<p>If you would like to volunteer, please contact the Alumni Relations Office at DJSCE or mail to alumni@djs.edu
</p> 