<h1>
Student Development</h1>

<p>
<b>Job Search</b>
There are multiple resources available that can help you search for opportunities. The resources listed below get you in touch with recruiters who are targeting candidates like you.
</p>
<p>
<b>Interviewing</b>
Preparation is key to a successful interview. The tips and questions below are designed to let you know what to expect from the process and to help you plan your approach. Remember, the path of your discussion will depend on the company and industry in which you are interviewing.
</p>
<p>
<b>
Resumes & Letters</b>
Resumes

The resume is an opportunity to market yourself to a prospective employer. It should be succinct, target an employer's needs, and distinguish you from your competitors.

Explore the detailed overview of many types of Letters of Employment, and sample letters.
</p>
<p><b>
Articles & Blogs</B>
From new thinking on creating career opportunities to expert insights on workplace culture or networking tactics, the articles and multi-media presentations below from Harvard Business School faculty and other thought leaders may help guide your career growth or enhance your job-search skills. Please check back often as we will update this library regularly.
</P>